@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
    display: flex;
    flex-direction: column;
}
.my-button{
    background: black!important;
}

.my-button:hover {
    background-color: #ffffff !important;
    color: #000000 !important;
}

.vl {
    border-left: 1px solid #ccc;
    margin: 0 10px;
}

.my-title {
    font-family: 'Tilt Prism', cursive !important;
}

.my-title-course-page {
    font-family: 'Tilt Prism', cursive;
    position: relative;
    font-size: 1.6em;
}

.accordion-header {
    background-color: #333333;
    color: #ffffff;
    overflow-wrap: break-word !important;
    word-wrap: break-word !important;
    font-size: 6em !important;
}

.custom-overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.bems-logo {
    width: 150px;
    height: 200px;
    float: right;

}

.course_page_img {
    background-image: url("/bemsktcu/src/Images/course_bg_img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Three columns */
    grid-gap: 10px; /* Add some space between grid items */
}

.grid-item {
    padding: 10px; /* Add some padding to grid items */
    background: linear-gradient(45deg, #2196f3, #b8f7ff);
}

.grid-con-bg {
    background: linear-gradient(45deg, #2196f3, #b8f7ff);
    -webkit-border-top-right-radius: 1rem;
    -webkit-border-top-left-radius: 1rem;
}

.my-gradient-bg {
    background: linear-gradient(45deg, #2196f3, #b8f7ff);
    -webkit-border-top-right-radius: 1rem;
    -webkit-border-top-left-radius: 1rem;
}

.landing-page{
    background: linear-gradient(45deg, #333333, #1fef)!important;
}

.card-drop-shadow:hover{
    box-shadow: 10px 5px 5px #5e5e5e;
    transition: 0.3s;
    margin-top: 0.3rem;
}

.card-drop-shadow p:hover{
    margin-top: 5rem;
    transition: 0.5s;
}


@media screen and (max-width: 480px) {
    .sign-up-text {
        margin-left: 10px !important;
    }

    .my-title {
        font-size: 2em !important;
    }

    .txt-reg-requirement {
        font-family: 'Tilt Prism', cursive !important;
        font-size: 1.1em !important;
    }

    .txt-reg-requirement-2 {
        font-size: 0.85em !important;
        font-family: "Roboto Light", fantasy !important;
    }

    .banner-image {
        height: 100px;
    }

    .my-title-course-page {
        font-family: 'Tilt Prism', cursive;
        font-size: 0.9em;
        font-weight: 1200 !important;
    }

    .grid-item strong {
        font-size: 0.7em;
        font-weight: 999;
    }

    .search-bar {
        width: 100% !important;
        margin-top: auto;
    }

    .curriculum-con {
        margin-top: auto;
        background: linear-gradient(45deg, #2196f3, #b8f7ff);
    }

    .BITVs-pc {
        display: none;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr; /* One column in mobile view */
        grid-gap: 5px; /* Add some space between grid items */

    }

    .grid-item {
        padding: 5px; /* Add some padding to grid items */
        background: linear-gradient(45deg, #2196f3, #b8f7ff);
    }

    .grid-item strong {
        text-align: center;
    }

    .nav-bar-gradient-bg{

    }

    .my-apply-btn{
        width: 100%;
    }

}

@media only screen and (min-width: 768px) {
    .BITVs-mb {
        display: none;
    }

    .txt-reg-requirement-2 {
        font-size: 1em !important;
    }

    .curriculum-con {
        background: linear-gradient(45deg, #2196f3, #b8f7ff);
        color: white;
    }
}